{% block head %}
    <!-- Bootstrap Datepicker CSS -->
    <link href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.9.0/css/bootstrap-datepicker.min.css" rel="stylesheet">
    <!-- Bootstrap Datepicker JS -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.9.0/js/bootstrap-datepicker.min.js"></script>
{% endblock head %}

{% block content %}
<h5>Disponibilità</h5>
<div id="datepicker" class="calendario_disponibilita"></div>
    <input type="hidden" id="my_hidden_input">
{% endblock content %}

<script>
    $(document).ready(function(){
        var disabledDates = {{ disabled_dates|safe }};
        $('#datepicker').datepicker({
            format: 'yyyy-mm-dd',
            startDate: '-0d',
            autoclose: false,
            todayHighlight: true,
            datesDisabled: disabledDates,
            multidate: true,
        });

<!--        .datepicker('setDate', new Date());-->
<!--        $('#datepicker_next').datepicker({-->
<!--            format: 'yyyy-mm-dd',-->
<!--            startDate: '-1m',-->
<!--            autoclose: false,-->
<!--            todayHighlight: false,-->
<!--            datesDisabled: disabledDates,-->
<!--            multidate: true,-->
<!--        }).datepicker('setDate', new Date(new Date().setMonth(new Date().getMonth() + 1)));-->
    });
</script>

