{% block content %}
{% if prenotazioni_list %}
    <table class="table">
        <thead>
            <tr>
                <th>Periodo</th>
                <th>Proprietà</th>
                <th>Costo</th>
                <th>Stato</th>
                <th>Azioni</th>
            </tr>
        </thead>
        <tbody>
        {% for s in prenotazioni_list %}
            {% if not s.prenotazione.stato_prenotazione == "CA" %}
            <tr>
                <td>dal {{ s.data_inizio|date:"d M y" }} al {{ s.data_fine|date:"d M y" }}</td>
                <td>{{ s.prenotazione.camera.proprieta }}
                    {% if storico_list %}
                        - {{ s.prenotazione.camera }}
                    {% endif %}
                </td>
                <td>{{ s.prenotazione.costo_soggiorno }} €</td>
                <td>{{ s.prenotazione.get_stato_prenotazione_display }}</td>
                <td>
                   {% if s.prenotazione.stato_prenotazione == "PR" %}
                      <a href="{% url 'albdif:prenota_modifica' s.prenotazione.pk %}" class="btn btn-success">Modifica</a>
                   {% endif %}
                   {% if s.prenotazione.stato_prenotazione == "PR" %}
                      <button type="button" class="btn btn-danger" data-bs-toggle="modal" data-bs-target="#confirmDeleteModal{{ s.prenotazione.pk }}">Cancella</button>
                   {% endif %}
                   {% if s.prenotazione.stato_prenotazione != "PG" and s.prenotazione.stato_prenotazione != "CA" %}
                       <a href="{% url 'albdif:prenota_paga' s.prenotazione.pk %}" class="btn btn-warning">Pagamento</a>
                   {% endif %}
                </td>
            </tr>
            {% endif %}
        {% endfor %}
        </tbody>
    </table>
{% else %}
    <p>Nessuna prenotazione trovata</p>
{% endif %}

<!-- Gestione della modale per la conferma della cancellazione -->
{% for s in prenotazioni_list %}
<div class="modal fade" id="confirmDeleteModal{{ s.prenotazione.pk }}" tabindex="-1" aria-labelledby="confirmDeleteModalLabel{{ s.prenotazione.pk }}" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="confirmDeleteModalLabel{{ s.prenotazione.pk }}">Conferma Cancellazione</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                Sei sicuro di voler cancellare questa prenotazione?
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Annulla</button>
                <a href="{% url 'albdif:prenota_cancella' s.prenotazione.pk %}" class="btn btn-danger">Cancella</a>
            </div>
        </div>
    </div>
</div>
{% endfor %}

{% if storico_list %}
    <hr>
    <h3>Storico</h3>
    <ul>
    {% for s in storico_list %}
        <li>Hai soggiornato dal <b>{{ s.data_inizio|date:"d M y" }}</b> al <b> {{ s.data_fine|date:"d M y" }} </b>
            presso l'albergo diffuso {{ s.prenotazione.camera.proprieta }} -
            <a href="{% url 'albdif:camera_detail' s.prenotazione.camera.id %}"> {{ s.prenotazione.camera.nome }}</a>
        </li>
    {% endfor %}
    </ul>
{% endif %}

{% if storico_list %}
    <hr>
    <h3>Prenotazioni cancellate</h3>

    <ul>
    {% for s in prenotazioni_list %}
        {% if s.prenotazione.stato_prenotazione == "CA" %}
        <li>
            dal {{ s.data_inizio|date:"d M y" }} al {{ s.data_fine|date:"d M y" }}
            presso {{ s.prenotazione.camera.proprieta }} - {{ s.prenotazione.camera }}
        </li>
        {% endif %}
    {% endfor %}
{% endif %}

{% endblock content %}