{% extends "base.html" %}

{% block content %}
<div>
    <div>
    <h2 class="titolopagina"> La vetrina del sito: le nostre camere </h2>
    </div>
    <div class="container">
        {% if camere_list %}
        <div class="row row-cols-1 row-cols-md-2 g-4">
            {% for c in camere_list %}
            <div class="col">
                <div class="card">
                    <a href="{% url 'albdif:camera_detail' c.id %}">
                    <img src="{{ c.image.file.url }}" alt="{{ c.nome }}" class="card-img-top">
                    </a>
                    <div class="card-body">
                        <h5 class="card-title">{{ c.nome }}</h5>
                        <p class="card-text">{{ c.descrizione }}</p>
                    </div>
                </div>
            </div>
            {% endfor %}
        </div>
        {% else %}
        <p>Nessuna camera disponibile</p>
        {% endif %}
    </div>
</div>
{% endblock content %}
