{% extends "base.html" %}

{% block content %}
<div class="row">
  <div class="col-md-6">
    <h2 class="titolopagina"> </h2>
    <div id="myCarousel" class="carousel slide" data-bs-ride="carousel">
      <!-- Indicators -->
      <div class="carousel-indicators">
        {% for f in foto %}
          {% if f.file %}
           <button type="button" data-bs-target="#myCarousel" data-bs-slide-to="{{f.pk}}" {% if forloop.first %} class="active" aria-current="true" {% endif %} aria-label="Slide {{ forloop.counter }}"></button>
          {% endif %}
        {% endfor %}
      </div>
      <!-- Wrapper for slides -->
      <div class="carousel-inner">
        {% for f in foto %}
          {% if f.file %}
            <div {% if forloop.first %} class="carousel-item active" {% else %} class="carousel-item" {% endif %}>
              <img src="{{ f.file.url }}" alt="{{ f.file.name }}" width="400" height="200">
            </div>
          {% endif %}
        {% endfor %}
      </div>
      <!-- Left and right controls -->
      <button class="carousel-control-prev" type="button" data-bs-target="#myCarousel" data-bs-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Previous</span>
      </button>
      <button class="carousel-control-next" type="button" data-bs-target="#myCarousel" data-bs-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Next</span>
      </button>
    </div>
  </div>
  <div class="col-md-6">
    <h2 class="titolopagina"> {{ camera.nome }} </h2>
    <p class="descrizione">{{camera.descrizione}}</p>
    <table class="table table-striped">
      <thead>
        <tr>
          {% for key in camera.services.keys %}
          <th>{{ key }}</th>
          {% endfor %}
        </tr>
      </thead>
      <tbody>
        <tr>
          {% for value in camera.services.values %}
          <td>{% if value %} &#10003; {% endif %}</td>
          {% endfor %}
        </tr>
      </tbody>
    </table>
  </div>
</div>

<hr>

<div class="row">
  <div class="col-md-4">
    {% include 'albdif/include/calendario_camera.html' %}
  </div>
  <div class="col-md-8">
    {% if user.is_authenticated %}
      <h5>Le tue prenotazioni</h5>
      {% include 'albdif/include/prenotazioni_list.html' %}
      <a href="{% url 'albdif:prenota_camera' user.pk camera.pk %}" class="btn btn-success">Nuova prenotazione</a>
    {% endif %}
   </div>
</div>

{% endblock content %}

