{% extends "base.html" %}

{% block content %}
<div>
    <div>
    <h2 class="titolopagina"> La vetrina del sito: le nostre camere </h2>
    </div>
    <div class="container">
        {% if camere_list %}
        {% for c in camere_list %}
        <div class="row mb-4 align-items-center">
            {% if forloop.counter0|divisibleby:2 %}
            <div class="col-md-6">
                <a href="{% url 'albdif:camera_detail' c.id %}">
                <img src="{{ c.image.file.url }}" alt="{{ c.nome }}" class="img-fluid">
                </a>
            </div>
            <div class="col-md-6">
                <h3>{{ c.nome }}</h3>
                <p class="descrizione">{{ c.descrizione }}</p>
            </div>
            {% else %}
            <div class="col-md-6 order-md-2">
                <a href="{% url 'albdif:camera_detail' c.id %}">
                <img src="{{ c.image.file.url }}" alt="{{ c.nome }}" class="img-fluid">
                </a>
            </div>
            <div class="col-md-6 order-md-1">
                <h3>{{ c.nome }}</h3>
                <p class="descrizione">{{ c.descrizione }}</p>
            </div>
            {% endif %}
        </div>
        {% endfor %}
        {% else %}
        <p>Nessuna camera disponibile</p>
        {% endif %}
    </div>
</div>
{% endblock content %}
