{% extends "base.html" %}

{% block title %}Homepage AD Pegaso{% endblock %}

{% block content %}
<h2> Serenità e relax lontano dai problemi quotidiani ... </h2>

<hr>

<div class="container">
    <div class="row">
        <div class="col-md-6">
            <img src="../static/img/background1.jpg" alt="Descrizione immagine" class="img-fluid">
        </div>
        <div class="col-md-6">
            <p class="descrizione">Scopri l'Albergo Diffuso delle montagne romane, un'esperienza unica che combina natura, cultura e accoglienza. Visita le bellezze del territorio, rilassati nelle nostre strutture e prenota facilmente anche soggiorni presso i partner locali, per sostenere insieme la comunità montana</p>
        </div>
    </div>
</div>

{% endblock content %}
