{% extends "base.html" %}

{% block content %}
<h2 class="titolopagina"> Profilo dell'utente: {{ user.first_name }} {{ user.last_name }}</h2>

{% if user.is_authenticated %}
    <form action="/albdif/profilo/" method="POST" class="d-inline">
        {% csrf_token %}
        {{ form.non_field_errors }}
        <table class="visitatore">
            {{ form }}
        </table>
        <input type="submit" class="btn btn-success" name="save" value="Salva">
    </form>
    <form action="{% url 'albdif:logout' %}" method="POST" class="d-inline float-end">
        {% csrf_token %}
        <input type="submit" class="btn btn-danger" value="Logout">
    </form>
    <hr>

    <h3>Le tue prenotazioni</h3>

    {% include 'albdif/include/prenotazioni_list.html' %}

{% endif %}

<hr>

{% endblock content %}